<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <nav>
            <div class="nav-wrapper blue">
              <a href="#" class="brand-logo right">Resume Rank</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="">Resume Uploads</a></li>
                <li><a href="">Insights</a></li>
              </ul>
            </div>
          </nav>
                
        
    <body>

  <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Upload the Job Description File</h4>
        <input type="file" name="jdfile" id="jdfile"/>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Upload A single Resume</h4>
    </div>
    <input type="file" name="resfile" id="resfile"/>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>
    </div>
  </div>


  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Upload ZIP file of containing multiple Resume</h4>
    </div>
    <input type="file" name="zipfile" id="zipfile"/>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>
    </div>
  </div>

  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Enter JD Manually</h4>
    </div>
    <input type="text" name="jdtxt" id="jdtxt"/>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>

    </div>
  </div>

  <div id="modal5" class="modal">
    <div class="modal-content">
      <h4>Alpha paramerter</h4>
    </div>
    <div style="display: flex;flex-direction: row; margin-left: 2.5%;">
      <div class="paramscrol">
        <div class="alphasubpanel">
          <label for="pr1">Param 1 </label>
          <input class = "jdpr" type="range" name="pr1" min="-1000" max="1000" id="jdtxt1" onchange="var ele = document.getElementById('v1');console.log(v1);"/>
          <h5 id="v1">12</h5>
          <button class = "btn red"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        <div class="alphasubpanel">
          <label for="pr1">Param 2 </label>
          <input class = "jdpr" type="range" name="pr1" min="-1000" max="1000" id="jdtxt2"/>
          <button class = "btn red"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        <div class="alphasubpanel">
          <label for="pr1">Param 3 </label>
          <input class = "jdpr" type="range" name="pr1" min="-1000" max="1000" id="jdtxt3"/>
          <button class = "btn red"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        <div class="alphasubpanel">
          <label for="pr1">Param 4 </label>
          <input class = "jdpr" type="range" name="pr1" min="-1000" max="1000" id="jdtxt4"/>
          <button class = "btn red"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>

      </div>
    </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>

    </div>
  </div>

        <div class="container">
            <div class = "welcome">
                <h2 style="color: aliceblue;">Welcome to Big Resume Rank</h2>
            </div>
            <div class = "options">
                <button class = "btn green lighten-1 upload modal-trigger" href="#modal1"> Upload Job Description File</button>
                <button class = "btn indigo accent-2 upload modal-trigger" href="#modal2"> Upload A single Resume</button>
                <button class = "btn orange darken-1 upload modal-trigger" href="#modal3"> Upload Zip file of resumes</button>
                <button class = "btn blue darken-1 upload modal-trigger"   href="#modal4"> Manually Enter the JD</button>
                <button class = "btn purple darken-1 upload modal-trigger"   href="#modal5">JD Parameters  </button>

            </div>

        </div>
        <script src = "{{ url_for('static', filename='js/script.js') }}"></script>

    </body>


    <footer class="page-footer blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Developed for Ernst & Young GDS Hackpions 3.0 </h5>
              <p class="grey-text text-lighten-4">Developed With &#10084; by Team CodeGAN.</p>
              <img src="imgs/EY.png">
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Our Profiles</h5>
              <ul>
                <li><a class="grey"></a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Mr Adarsh A (Mentor)</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Pratyush Harsh(ML Architect)</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Aavesh Kumar Sinha (Team Leader)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--<div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>-->
      </footer>

</html>